# Database
DATABASE_URL=postgresql://neondb_owner:npg_r43YdvfBopwE@ep-lucky-waterfall-a9o733wo-pooler.gwc.azure.neon.tech/neondb?sslmode=require&channel_binding=require

# Inngest
INNGEST_APP_ID="breakfast-app"
INNGEST_EVENT_KEY="local"
INNGEST_SIGNING_KEY=signkey-prod-53d9a440f2f400497abc6ca87b8683acbda003023a8390d1d5ca6ce5b0ec0c85

# Auth (Better Auth)
NEXT_PUBLIC_AUTH_URL="http://localhost:3000"

# Dev User (for local development - optional)
NEXT_PUBLIC_DEV_USER_NAME="Dev User"
NEXT_PUBLIC_DEV_USER_EMAIL="dev@example.com"
NEXT_PUBLIC_DEV_USER_IMAGE=""